<a href="https://colab.research.google.com/github/jasonwnc/ds2002s24/blob/main/SQL_Connect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using Python to Query MySQL
**bold text**
This notebook demonstrates using a couple of different database connectivity libraries to connect to and query a MySQL database.

    PyMySQL library
    MySQL's Native mysql.connector library
    SqlAlchemy library

1.0. Prerequisites
1.1. First, you must install the libaries into your python environment by executing the following commands in a Terminal window

    !pip install PyMySQL
    !pip install mysql-connector-python
    !pip install sqlalchemy

1.2. Next, as with all Jupyter Notebooks, you need to Import the libaries that you'll be working with in the notebook,

In [54]:
!pip install pyMysql

Requirement already satisfied: pyMysql in /usr/local/lib/python3.10/dist-packages (1.1.0)

In [55]:
#Set the host name here
#If you are running against a database locally it would be local host or 127.0.0.1
host_name = "datatbase.ds2002.org"
#host_ip = "127.0.0.1"
port = "3306"

user_id = "jpw4ma" #Use yours here
pwd = "jpw4ma!"  #Use yours here
db_name = "sakila"

2.0. Using the PyMySQL Library

2.1. Using a Cursor to Iterate the Rows Returned

In [56]:
import os
import pymysql
import warnings
warnings.filterwarnings('ignore')

conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute('SELECT * FROM actor;')

    for row in cursor.fetchmany(size=5):
        print(row)

    cursor.close()

except:
    print ("Error: unable to fetch data")

conn.close()

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 4, 34, 33))
(3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 4, 34, 33))
(4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 4, 34, 33))
(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33))

In [59]:

#Here is an example of a Dictionary Curser
#3 can return a dictionary of this data set
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor(pymysql.cursors.DictCursor)

try:
    cursor.execute('SELECT * FROM film ORDER BY title DESC LIMIT 5;')

    for row in cursor.fetchmany(1):
        print(row)

    cursor.close()

except:
    print ("Error: unable to fetch data")

conn.close()

{'film_id': 1000, 'title': 'ZORRO ARK', 'description': 'A Intrepid Panorama of a Mad Scientist And a Boy who must Redeem a Boy in A Monastery', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 3, 'rental_rate': Decimal('4.99'), 'length': 50, 'replacement_cost': Decimal('18.99'), 'rating': 'NC-17', 'special_features': 'Trailers,Commentaries,Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}


2.2. Using the Pandas read_sql() Method to Return a DataFrame
You will use this a lot! pulling sql into a Pandas DataFrame

In [63]:
import pandas as pd #Here we import our Pandas object called PD

conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)

df = pd.read_sql("SELECT * FROM film ORDER BY title DESC;", conn)

conn.close()
df.head() #Head will return the number of rows that you want. If nothing is indicated then it just does 5

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42
1,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 05:03:42
3,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,None,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-15 05:03:42
4,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,None,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-15 05:03:42

In [ ]:
df.head(10)

Let's look at SQL Alchemy and how that connects and works

In [67]:
#Going to get a little fancy here and create a function/method to hand the query and putting it into a DF for me

#Import what we need
#!pip install sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import text

def get_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, sql_query):
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    connection = sqlEngine.connect()
    dframe = pd.read_sql(sql_query, connection);
    connection.close()

    return dframe

#Why didn't this cell produce any output????

In [68]:
sql_query = ("INSERT INTO EMPLOYEES (id,name,last,lasdl.fjasdfk) VLUAE(als;kjf;lj) FROM film ORDER BY title DESC;")

In [ ]:

#Let's do a query to figure out how much everyone spent on rentals

#sql_query =("SELECT customer.first_name, customer.last_name, SUM(payment.amount) AS total_spent FROM customer JOIN payment ON customer.customer_id = payment.customer_id GROUP BY customer.customer_id order by total_spent desc;")
#sql_query = ("SELECT * FROM film ORDER BY title DESC;")
df = get_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, text(sql_query))
df.head()

Let's use SQL Alchemy to do an insert

In [78]:

#Let's build a function to do inserts....
#But now we need to change our database
db_name='jpw4ma'
pwd = 'jpw4ma!'
user_id='jpw4ma'

def insert_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, df, table_name):
    conn_str = f"mysql+pymysql://{user_id}:{pwd}@{host_name}/{db_name}"
    sqlEngine = create_engine(conn_str, pool_recycle=3600)
    connection = sqlEngine.connect()
    df.to_sql(table_name, con=connection,if_exists='append')
    connection.close()

In [ ]:
#lets first take a look at mypets table
sql_query ="Select * from Employees;"
df = get_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, text(sql_query))
df.head(10)

In [76]:
#build the insert
#First lets do a sample df

# Sample data
data = {'EmployeeID': [101, 102, 103],
        'FirstName': ['Jason', 'Anna', 'Patrick'],
        'LastName': ['VanDixHoorn', 'Williamson', 'Smith'],
        'Position': ["Manager", "Head Manager", "Employee"]}

# Create DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
#print(df)
df.head()
#insert_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, df, 'pets');

   EmployeeID FirstName     LastName      Position
0         101     Jason  VanDixHoorn       Manager
1         102      Anna   Williamson  Head Manager
2         103   Patrick        Smith      Employee

In [77]:
insert_sqlalchemy_dataframe(user_id, pwd, host_name, db_name, df, 'Employees');

ValueError: Table 'Employees' already exists.